<div class="details-task-container">
    <button mat-icon-button class="close-btn" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="task-box">
        <span class="category-box" [style.background-color]="shared.getCategoryColor(taskData.category)">
            {{ taskData.category }}
        </span>

        <span>
            <h1>{{ taskData.title }}</h1>
        </span>

        <span class="description-box">
            <p>{{ taskData.description }}</p>
        </span>

        <span class="date-span">
            <p>Due date:</p>
            <p>{{ taskData.dueDate | date: "MMM" }} {{ taskData.dueDate | date: "dd" }}, {{ taskData.dueDate | date:
                "yyyy" }}</p>
            <span *ngIf="taskData.dueDate < todayDate">
                <mat-icon>notification_important</mat-icon>
                Deadline has been exceeded!
            </span>
        </span>

        <span>
            <p>Priority:</p>
            <p class="capitalize">{{ taskData.priority }}</p>
        </span>

        <span>
            <p>Status:</p>
            <p>{{ taskData.status }}</p>
        </span>

        <span>
            <p>Assigned To:</p>
            <p [ngStyle]="{'color': taskData.bgColor}">{{ taskData.assignedTo }}</p>
        </span>

        <span>
            <p>Editor:</p>
            <p>{{ taskData.editor }}</p>
        </span>
    </div>

    <div class="button-box" *ngIf="!shared.archivDialog">
        <div (click)="openDialogEditTask(taskData.id)" matTooltip="Edit" matTooltipPosition="below"
            matTooltipClass="tooltip-blue">
            <mat-icon>edit</mat-icon>
        </div>
    </div>

    <div class="button-box" *ngIf="shared.archivDialog">
        <div (click)="saveTaskFroArchivToBoard(taskData.id)" matTooltip="Save to Board" matTooltipPosition="below"
            matTooltipClass="tooltip-blue" class="mr-16">
            <mat-icon>update</mat-icon>
        </div>

        <div (click)="openDialogDeleteTask(taskData.id)" matTooltip="Delete Task" matTooltipPosition="below"
            matTooltipClass="tooltip-blue">
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div>