.card-header h1 {
    width: 100px;
}

.help-video-container {
    margin-top: 36px;
    margin-left: 42px;
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    width: 550px;
}

video {
    width: 450px;
    border-radius: 24px;
}

::ng-deep mat-expansion-panel {
    width: 500px;
    background-color: var(--header) !important;
    border-radius: 24px !important;
    margin-bottom: 24px !important;
}

::ng-deep mat-panel-title {
    color: white !important;
    font-weight: 700;
    font-size: 20px;
}