<div class="contactTasks-container">
    <button mat-icon-button class="close-btn" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>

    <h2>Tasks for {{ contactName }}</h2>

    <div class="tasks-box">
        <div *ngFor="let task of taskData">
            <div class="task-card hide-icons">
                <div class="hover-icons">
                    <mat-icon matTooltip="History" matTooltipPosition="above"
                        matTooltipClass="tooltip-blue">history</mat-icon>

                    <mat-icon matTooltip="Archived task" matTooltipPosition="above" matTooltipClass="tooltip-blue"
                        (click)="openDialogArchivedTask(task.id)">delete</mat-icon>
                </div>

                <span class="task-category" [style.background-color]="shared.getCategoryColor(task.category)">
                    {{ task.category }}</span>

                <div (click)="openTaskDetails(task.id)">
                    <span class="task-date" [class.bg-past]="task.dueDate < todayDate">
                        {{ task.dueDate | date: "MMM" }} {{ task.dueDate | date: "dd" }}, {{ task.dueDate | date: "yyyy"
                        }}
                        <mat-icon *ngIf="task.dueDate < todayDate">notification_important</mat-icon>
                    </span>
                    <h4 class="task-name">{{ task.title }}</h4>
                    <div>
                        <span class="task-assigned" [ngStyle]="{'background': task.bgColor}">
                            {{ task.assignedTo.split(" ")[0][0] }}{{task.assignedTo.split(" ")[1][0] }}</span>
                        <mat-icon style="color: #7AE229"
                            *ngIf="task.priority==='low'">keyboard_double_arrow_down</mat-icon>
                        <mat-icon style="color: #FF3D00"
                            *ngIf="task.priority==='urgent'">keyboard_double_arrow_up</mat-icon>
                        <mat-icon style="color: #FFA800" *ngIf="task.priority==='medium'">clear_all</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>