<mat-card class="container-style container-position">
    <div class="card-header">
        <div>
            <h1>Board</h1>
            <h3>Task Status</h3>
        </div>

        <div>
            <span class="search-input">
                <input name="search" [(ngModel)]="searchInput" matInput autocomplete="off" placeholder="Search for...">
                <mat-icon>search</mat-icon>
            </span>
            <button mat-raised-button (click)="openDialogAddTask('To do')">
                Add task
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="card-body" cdkDropListGroup>
        <div class="progress-box">
            <div class="progress-header">
                <h1>To do</h1>
                <button mat-icon-button (click)="openDialogAddTask('To do')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-cards" cdkDropList #todoList="cdkDropList" id="To do" [cdkDropListData]="todoTask"
                [cdkDropListConnectedTo]="[inprogressList, awaitingfeedbackList, doneList]"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of todoTask | filter:searchInput" cdkDrag>
                    <div class="task-card hide-icons">
                        <div class="hover-icons">
                            <mat-icon matTooltip="History" matTooltipPosition="above"
                            matTooltipClass="tooltip-blue" (click)="openDialogHistory(task.id)">history</mat-icon>

                            <mat-icon matTooltip="Archived task" matTooltipPosition="above"
                                matTooltipClass="tooltip-blue" (click)="openDialogArchivedTask(task.id)">delete</mat-icon>
                        </div>

                        <span class="task-category" [style.background-color]="shared.getCategoryColor(task.category)">
                            {{ task.category }}</span>

                        <div (click)="openTaskDetails(task.id)">
                            <span class="task-date" [class.bg-past]="task.dueDate < todayDate">
                                {{ task.dueDate | date: "MMM" }} {{ task.dueDate | date: "dd" }}, {{ task.dueDate | date: "yyyy" }}
                                <mat-icon *ngIf="task.dueDate < todayDate">notification_important</mat-icon>
                            </span>
                            <h4 class="task-name">{{ task.title }}</h4>
                            <div>
                                <span class="task-assigned" [ngStyle]="{'background': task.bgColor}">
                                    {{ task.assignedTo.split(" ")[0][0] }}{{task.assignedTo.split(" ")[1][0] }}</span>
                                <mat-icon style="color: #7AE229"
                                    *ngIf="task.priority==='low'">keyboard_double_arrow_down</mat-icon>
                                <mat-icon style="color: #FF3D00"
                                    *ngIf="task.priority==='urgent'">keyboard_double_arrow_up</mat-icon>
                                <mat-icon style="color: #FFA800" *ngIf="task.priority==='medium'">clear_all</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-card" (click)="openDialogAddTask('To do')">
                    <span>Create new task</span>
                    <button mat-icon-button>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div class="progress-box">
            <div class="progress-header">
                <h1>In progress</h1>
                <button mat-icon-button (click)="openDialogAddTask('In progress')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-cards" cdkDropList #inprogressList="cdkDropList" id="In progress"
                [cdkDropListData]="inprogressTask" [cdkDropListConnectedTo]="[todoList, awaitingfeedbackList, doneList]"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of inprogressTask | filter:searchInput" cdkDrag>
                    <div class="task-card hide-icons">
                        <div class="hover-icons">
                            <mat-icon matTooltip="History" matTooltipPosition="above"
                            matTooltipClass="tooltip-blue" (click)="openDialogHistory(task.id)">history</mat-icon>

                            <mat-icon matTooltip="Archived task" matTooltipPosition="above"
                                matTooltipClass="tooltip-blue" (click)="openDialogArchivedTask(task.id)">delete</mat-icon>
                        </div>
                        
                        <span class="task-category" [style.background-color]="shared.getCategoryColor(task.category)">
                            {{ task.category }}</span>

                        <div (click)="openTaskDetails(task.id)">
                            <span class="task-date" [class.bg-past]="task.dueDate < todayDate">
                                {{ task.dueDate | date: "MMM" }} {{ task.dueDate | date: "dd" }}, {{ task.dueDate | date: "yyyy" }}
                                <mat-icon *ngIf="task.dueDate < todayDate">notification_important</mat-icon>
                            </span>
                            <h4 class="task-name">{{ task.title }}</h4>
                            <div>
                                <span class="task-assigned" [ngStyle]="{'background': task.bgColor}">
                                    {{ task.assignedTo.split(" ")[0][0] }}{{task.assignedTo.split(" ")[1][0] }}</span>
                                <mat-icon style="color: #7AE229"
                                    *ngIf="task.priority==='low'">keyboard_double_arrow_down</mat-icon>
                                <mat-icon style="color: #FF3D00"
                                    *ngIf="task.priority==='urgent'">keyboard_double_arrow_up</mat-icon>
                                <mat-icon style="color: #FFA800" *ngIf="task.priority==='medium'">clear_all</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-card" (click)="openDialogAddTask('In progress')">
                    <span>Create new task</span>
                    <button mat-icon-button>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div class="progress-box">
            <div class="progress-header">
                <h1>Awaiting Feedback</h1>
                <button mat-icon-button (click)="openDialogAddTask('Awaiting Feedback')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-cards" cdkDropList #awaitingfeedbackList="cdkDropList" id="Awaiting Feedback"
                [cdkDropListData]="awaitingfeedbackTask" [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of awaitingfeedbackTask | filter:searchInput" cdkDrag>
                    <div class="task-card hide-icons">
                        <div class="hover-icons">
                            <mat-icon matTooltip="History" matTooltipPosition="above"
                            matTooltipClass="tooltip-blue" (click)="openDialogHistory(task.id)">history</mat-icon>

                            <mat-icon matTooltip="Archived task" matTooltipPosition="above"
                                matTooltipClass="tooltip-blue" (click)="openDialogArchivedTask(task.id)">delete</mat-icon>
                        </div>
                        
                        <span class="task-category" [style.background-color]="shared.getCategoryColor(task.category)">
                            {{ task.category }}</span>

                        <div (click)="openTaskDetails(task.id)">
                            <span class="task-date" [class.bg-past]="task.dueDate < todayDate">
                                {{ task.dueDate | date: "MMM" }} {{ task.dueDate | date: "dd" }}, {{ task.dueDate | date: "yyyy" }}
                                <mat-icon *ngIf="task.dueDate < todayDate">notification_important</mat-icon>
                            </span>
                            <h4 class="task-name">{{ task.title }}</h4>
                            <div>
                                <span class="task-assigned" [ngStyle]="{'background': task.bgColor}">
                                    {{ task.assignedTo.split(" ")[0][0] }}{{task.assignedTo.split(" ")[1][0] }}</span>
                                <mat-icon style="color: #7AE229"
                                    *ngIf="task.priority==='low'">keyboard_double_arrow_down</mat-icon>
                                <mat-icon style="color: #FF3D00"
                                    *ngIf="task.priority==='urgent'">keyboard_double_arrow_up</mat-icon>
                                <mat-icon style="color: #FFA800" *ngIf="task.priority==='medium'">clear_all</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-card" (click)="openDialogAddTask('Awaiting Feedback')">
                    <span>Create new task</span>
                    <button mat-icon-button>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <div class="progress-box">
            <div class="progress-header">
                <h1>Done</h1>
                <button mat-icon-button (click)="openDialogAddTask('Done')">
                    <mat-icon>add_circle</mat-icon>
                </button>
            </div>

            <div class="task-cards" cdkDropList #doneList="cdkDropList" id="Done" [cdkDropListData]="doneTask"
                [cdkDropListConnectedTo]="[todoList, inprogressList, awaitingfeedbackList]"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of doneTask | filter:searchInput" cdkDrag>
                    <div class="task-card hide-icons">
                        <div class="hover-icons">
                            <mat-icon matTooltip="History" matTooltipPosition="above"
                            matTooltipClass="tooltip-blue" (click)="openDialogHistory(task.id)">history</mat-icon>

                            <mat-icon matTooltip="Archived task" matTooltipPosition="above"
                                matTooltipClass="tooltip-blue" (click)="openDialogArchivedTask(task.id)">delete</mat-icon>
                        </div>
                        
                        <span class="task-category" [style.background-color]="shared.getCategoryColor(task.category)">
                            {{ task.category }}</span>

                        <div (click)="openTaskDetails(task.id)">
                            <span class="task-date" [class.bg-past]="task.dueDate < todayDate">
                                {{ task.dueDate | date: "MMM" }} {{ task.dueDate | date: "dd" }}, {{ task.dueDate | date: "yyyy" }}
                                <mat-icon *ngIf="task.dueDate < todayDate">notification_important</mat-icon>
                            </span>
                            <h4 class="task-name">{{ task.title }}</h4>
                            <div>
                                <span class="task-assigned" [ngStyle]="{'background': task.bgColor}">
                                    {{ task.assignedTo.split(" ")[0][0] }}{{task.assignedTo.split(" ")[1][0] }}</span>
                                <mat-icon style="color: #7AE229"
                                    *ngIf="task.priority==='low'">keyboard_double_arrow_down</mat-icon>
                                <mat-icon style="color: #FF3D00"
                                    *ngIf="task.priority==='urgent'">keyboard_double_arrow_up</mat-icon>
                                <mat-icon style="color: #FFA800" *ngIf="task.priority==='medium'">clear_all</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-card" (click)="openDialogAddTask('Done')">
                    <span>Create new task</span>
                    <button mat-icon-button>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>