.calendar-header {
  color: var(--header);
  position: absolute;
  top: 12px;
  left: 100px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  z-index: 1;

  button {
    &:hover {
      transform: scale3d(1.3, 1.3, 1.3);
      transition: 225ms ease-in-out;
    }
  }
}

.calendar-table {
  border-collapse: collapse;
  width: 99%;
  max-width: 99%;
  margin-left: 6px;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 62px;

  @media (max-height: 720px)  {
    margin-top: 46px;
  }
}

.calendar-table thead th {
  text-align: end;
  border-bottom: 2px solid #dee2e6;
  width: 14.2%;
}

.calendar-table td {
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;

  &:last-child {
    border-right: none;
  }
}

.calendar-table th {
  border-right: 1px solid #dee2e6;

  &:last-child {
    border-right: none;
  }
}

.calendar-table td,
.calendar-table th {
  padding: .75rem;
  vertical-align: top;
  text-align: end;
}

.calendar-day {
  height: 8vh;
  max-height: 8vh;
  cursor: pointer;
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.calendar-day.past-date {
  background-color: rgb(248, 248, 248);
}

.calendar-day:hover {
  background-color: rgb(248, 248, 248);
}

.today {
  color: rgb(16, 110, 190);
  background: #e8f4ff;
  font-weight: 600;
}

.weekend {
  color: #df3232;
}

.hideTask {
  display: none;
}

.showTask {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.task-title-box {
  margin-top: -22px;

  span {
    mat-icon {
      font-size: 14px;
      height: 14px;
      width: 14px;

      &:hover {
        transform: scale3d(1.2, 1.2, 1.2);
        transition: 225ms ease-in-out;
      }
    }
  }
}

.info-btn {
  position: absolute;
  top: 12px;
  left: 24px;
  color: var(--header);
}

.legend-card {
  width: fit-content;
  margin-left: 24px;
  position: absolute;
  top: 54px;
  left: -20px;
  border-radius: 24px;
  background: #e5e8f5;

  div {
    display: flex;
    align-items: center;

    span {
      font-weight: 600;
    }
  }
}