<div *ngIf="contactsAPI.contactData" class="details-container">
    <div class="info-box">
        <div class="header-name">
            <span class="contact-symbol" [ngStyle]="{'background': contactsAPI.contactData.bgColor}">
                {{ contactsAPI.contactData.first_name[0].toUpperCase() }}{{ contactsAPI.contactData.last_name[0].toUpperCase()
                }}</span>
            <span>
                <span>{{ contactsAPI.contactData.first_name }} {{ contactsAPI.contactData.last_name }}</span>
                <button mat-button 
                    (click)="openDialogAddTask(contactsAPI.contactData.first_name, contactsAPI.contactData.last_name, contactsAPI.contactData.bgColor)">
                    <mat-icon>add</mat-icon> Add task
                </button>
            </span>
        </div>

        <div class="contact-info-box">
            <div class="contact-info-header">
                <h2>Contact information</h2>
                <button mat-button matTooltip="Edit Contact" matTooltipPosition="below" matTooltipClass="tooltip-blue"
                    (click)="openDialogEditContact(contactsAPI.contactData.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="contact-info">
                <div class="mail-phone">
                    <span>
                        <h3>E-Mail:</h3>
                        <a href="mailto: {{ contactsAPI.contactData.email }}" class="header-color">
                            <h3>{{ contactsAPI.contactData.email }}</h3>
                        </a>
                    </span>

                    <span>
                        <h3 class="mt-24">Phone:</h3>
                        <a href="tel: {{ contactsAPI.contactData.phone }}">
                            <h3>{{ contactsAPI.contactData.phone }}</h3>
                        </a>
                    </span>
                </div>

                <div class="tasks-info">
                    <span>
                        <h3>Tasks for {{ contactsAPI.contactData.first_name }}:</h3>
                        <h3 *ngIf="shared.taskLength >= 1" class="task-length task-length-hover"
                            (click)="openDialogContactTasks(shared.contactTasks, contactsAPI.contactData.first_name)"
                            matTooltip="Open Tasks" matTooltipPosition="below" matTooltipClass="tooltip-blue">
                            {{ shared.taskLength }}</h3>
                        <h3 *ngIf="shared.taskLength == 0" class="task-length">{{ shared.taskLength }}</h3>
                    </span>

                    <span>
                        <h3>Upcoming Deadline:</h3>
                        <h3 *ngIf="!shared.deadlineExist">No Deadlines</h3>
                        <h3 *ngIf="shared.deadlineExist">{{ shared.upcomingDeadline | date: "MMMM" }} {{ shared.upcomingDeadline | date: "dd"
                            }}, {{ shared.upcomingDeadline | date: "yyyy" }}</h3>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>